/* Переменные для проекта */
:root {
 /* Отступы  */
  --page-spacing: var(--spacing-s);
  --content-spacing: var(--spacing-l);
  --section-spacing: var(--spacing-xl);
  --spacing-xs: 5px;
  --spacing-s: 10px;
  --spacing-m: 20px;
  --spacing-l: 40px;
  --spacing-xl: 50px;
  --spacing-2xl: 60px;
  --spacing-3xl: 80px;

/* Шрифты */
  --primary-font-family: "IBM Plex Mono", Arial, sans-serif;
  --primary-font-size: 1.125rem;
  --page-headers-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --primary-line-height: 130%;
  --page-headers-line-height: 83%;

/* Изображения */
  --bg-cover-image: url(../images/cover-image-dark.png);
  --bg-cover-color: #000028;

/* Цвета */
  --page-headers-color: #DB00FF;
  --shadow-color: #FF0070;
  --decoration-color: #FF0070;
  --section-title-color: #FF0070;
  --paragraph-title-color: #000028;
  --paragraph-title-bg-color: #FF0070;
  --paragraph-text-color: #F1B2CE;
}
