/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --primary-font-family: "IBM Plex Mono", Arial, sans-serif;
  --primary-font-size: 18px;
  --page-headers-font-size: 116px;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --primary-line-height: 23.4px; /*1.3 rem или 130%?*/
  --page-headers-line-height: 83%;
  --bg-cover-image: url(../images/cover-image-dark.png);
  --bg-cover-color: #000028;
  --page-headers-color: #DB00FF;
  --shadow-color: #FF0070;
  --decoration-color: #FF0070;
  --section-title-color: #FF0070;
  --article-title-color: #000028;
  --article-title-bg-color: #FF0070;
  --paragraph-text-color: #F1B2CE;
}
